/* Add your CSS here. Utilize Tailwind classes or write custom styles to bring your unique design to life. */

.grid-container {
  display: grid;
  border: 1px solid red;
  grid-template-columns: repeat(4, 1fr);
}

.section-header {
  font-size: 1.375rem;
  font-weight: 600;
}
