/* Add your CSS here. Utilize Tailwind classes or write custom styles to bring your unique design to life. */

.section-header {
  font-size: 1.375rem;
  font-weight: 600;
}

.long-card,
.short-card {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  max-width: 350px;
  border-radius: 1rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.8);
}

section {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card-img {
  border-radius: 16px;
  margin: 0 auto;
  height: 128px;
  width: clamp(180px, 20vw, 272px);
  background-size: cover;
  background-position: 50%;
}

.card-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

h3 {
  font-weight: bold;
  font-size: 1.375rem;
  text-align: center;
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.125rem;
  line-height: 1.625rem;
}

.profile-pics {
  display: flex;
  position: relative;
  height: 50px;
}

.profile-pics li:nth-child(2) img {
  position: absolute;
  left: 25px;
  z-index: 1000;
}
.profile-pics svg {
  position: absolute;
  left: 60;
  top: 5;
  width: 1.5rem;
  height: 1.5rem;
}

.rounded-img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid white;
  position: absolute;
}

@media (min-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
}
